Package: com.shepgoba.batterypercent13
Name: BatteryPercent13
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: shepgoba
Author: shepgoba
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-1+debug
Installed-Size: 152
